{% extends "base.html" %}
{% load static %}

{% block main %}
  <main class="index-page">

    <div class="bg-img imgLiquidFill imgFilled">
      <img src="{% static 'img/collage.png' %}">
    </div>

    <div class="page-content flex column-layout">

      <section class="hero fill flex column-layout horizontal align-middle vertical align-center">
        <div class="brand"><img src="{% static 'img/logo-lg-white.png' %}"></div>
        <h2 class="slogan">upload. prettify. share.</h2>
        <div class="call-to-action">
          <button class="btn-action-alt" id="facebook-login-action"><i class="fa fa-facebook-official fa-fw"></i> Log in with Facebook</button>
        </div>
        <div class="status">
          <p id="facebook-login-status"></p>
          <form id="login-csrf">{% csrf_token %}</form>
        </div>

      </section>

      <footer class="footer flex column-layout horizontal align-middle vertical align-center">
        <p class="copyright">Copyright ©{% now "Y" %}. A <a href="http://github.com/andela-uawili/photo-editing-application">project</a> by <a href="http://github.com/andela-uawili/">Awili Uzo</a> from <a href="http://andela.com">Andela</a>. #TIA</p>
      </footer>

    </div>

  </main>
{% endblock main %}
