{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <!-- meta -->
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <!-- title & favicon -->

  <title>Neatpix | {% block window_title %}Upload. Prettify. Share{% endblock window_title %}</title>
  <link rel="icon" href="{% static 'img/icon.png' %}" type="image/x-icon">
  
  <!-- stylesheets -->

  <!-- Bootstrap Core -->
  <!--<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}"/>-->
  <!-- Flexgrid -->
  <link rel="stylesheet" type="text/css" href="{% static 'lib/flxgrid/dist/css/flexgrid.min.css' %}"/>
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:500,300,500italic,700' rel='stylesheet' type='text/css'/>
  <!-- FontAwesome -->
  <link rel="stylesheet" type="text/css" href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}"/>
  <!-- Neatpix css-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
  
  <div class="viewport-container"> <!-- viewport container (wraps everything)-->

  {% block main %}
    {# The main content of the page (added in extending/subclassing templates) goes here. #}
  {% endblock main %}

  <div class="generic-snippets">
  {% block generic_snippets %}
    {# This section holds content that has no display purpose but rather serve as generic snippets that can be cloned to create other concrete elements. #}
  {% endblock generic_snippets %}
  </div>

  </div> <!-- ends viewport container -->

  <!-- javascript -->

  <!-- jQuery -->
  <script src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
  <!-- Bootstrap Core -->
  <script src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <!-- ImageLiquid -->
  <script src="{% static 'js/imgLiquid-min.js' %}"></script>
  <!-- jQuery File Upload Dependencies -->
  <script src="{% static 'lib/jquery-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'lib/jquery-file-upload/js/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'lib/jquery-file-upload/js/jquery.fileupload.js' %}"></script>
  <!-- Neatpix js-->
  <script src="{% static 'js/scripts.js' %}"></script>
  
</body>

</html>